# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/vendor/
npm-debug.log
yarn-error.log

# testing
/coverage

# production
/build
/public/build

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.backup
.env.production
storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/storage/pail
.phpactor.json
auth.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Development directory
/dev/